body{
    /*background-image: url(./img/full-web.png);*/
    background-size: 1536px;
    height: 8981px;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 1140px;
    margin:0 auto;
}
h1{
    font-size: 20px;
}


/*QUICK LINKS*/
#quick-links{
    background-color: #f43939;
    color: #fff;
    height: 41.5px;  
}
#quick-links .f-container{
    display: flex;
    justify-content: space-between;
}
#quick-links .f-item{
    padding: 10px 0px;
}
#quick-links .size-a i{
    color: #fff;
    padding: 0px 9px;
    font-size: 14px;
}
#quick-links .size-b i{
    color: #fff;
    padding: 0px 9px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6)
}
#quick-links .size-b i:hover{
    color: #fff;
    padding: 0px 9px;
    font-size: 14px;
    transition: 800ms;
}
#quick-links .f-item a{
    padding: 0px 9px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
}



/*HEADER*/
#header{
    background-color: #fff;
    height: 97px;   
    font-family: 'Poppins', sans-serif;
}
#header .f-container{
    display: flex;
    justify-content: space-between;
}
#header .f-item{
    padding: 35px 0px;
    color: #222222;
}
#header .f-item h1{
    font-size: 34px;
}
#header .f-item h1 span{
    color: #f43939;
}
#header .f-item .nav-bar{
    display: flex;
}
#header .f-item .nav-bar .nav-item{
    margin: 0px 15px;
    font-size: 17px;  
}
#header .f-item .nav-bar .nav-item:hover{
    margin: 0px 15px;
    font-size: 17px;
    color: #f43939;
    border-bottom: 3px solid #f43939;
    padding-bottom: 2px;  
    transition: 500ms; 
}
#header .f-item .nav-bar .nav-item a{
    text-decoration: none;
    color: #222222;
}


/*WELCOME*/
#welcome{
    background-image: url(../img/hero-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 457px;          
}
#welcome .overley{
    content: "";
    background: rgba(244, 57, 57, 0.3);
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#welcome .welcome{
    padding: 117px 0px;
}
#welcome .welcome h1{
    font-size: 48px;
    padding: 15px 0px;
    font-family: 'Poppins', sans-serif;
}
#welcome .welcome h1 span{
    color: #f43939;
}
#welcome .welcome h2{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
#welcome .welcome .btm{
    padding: 45px 0px;
}
#welcome .welcome .primary-btn{
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f43939;
    color: white;
    border-radius: 7px;
    padding: 14px 45px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
#welcome .welcome .secondary-btn{
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
    color: #222222;
    
}
#welcome .welcome .secondary-btn i{
    position: relative;
    color: #f43939;
    font-size: 30px;
    top: 5px;
    padding-right: 5px;
}


/*HIGHLITS*/
#highlights{
    background-color: #fff;
    height: 383px;
}
#highlights .container{
    padding: 63px 0px;  
}
#highlights .f-container{
    display: flex;
    justify-content: space-between;
    padding-left: 44px;   
}
#highlights .f-item{
    background-color: #fff;
    color: #222222;
    flex-basis: 18%;
    height: 206px;
    line-height: 65px;
    padding: 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 9px -5px;
}
#highlights .f-item:hover{
    background-color: #f43939;
    color: #fff;
    flex-basis: 18%;
    height: 206px;
    line-height: 65px;
    padding: 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 9px -5px;
}
#highlights h1{
    font-family: 'Roboto', sans-serif;
}
#highlights p{
    font-size: 15px;
    line-height: 23px;
}
#highlights .f-item i{
    font-size: 44px;
}
/*ABOUT*/
#about{
    background-color: #fff1f1;
    height: 847px;   
}  
#about .section-title{
    text-align: center;
    padding: 57px 314px 22px 314px;
}
#about .section-title h4{  
    padding: 7px 0px;
    margin: 10px 211px;
    background: #e7f1fd;
    border-radius: 15px;
    color: #f43939;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}   
#about .section-title h1{
    font-size: 32px;
    padding: 10px 0px;
    color: #222222;
    font-family: 'Roboto', sans-serif;  
}
#about .section-title p{
    font-size: 16px;
    line-height: 23px;
    padding-top: 13px;
    color: #444444;
}
#about .section-title h1 span{
    color: #f43939;
}
#about .section-content .f-container{
    display: flex;  
}
#about .section-content .f-item{
    flex-basis: 50%;
    margin: 10px;
    padding: 5px;
    color: #444444;
}
#about .section-content .f-item img{
    max-width: 100%;
    height: auto;
}
#about .section-content .f-item h1{
    font-size: 26px;
    padding: 7px 2px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}
#about .section-content .f-item .italic{
    font-size: 16px;
    font-style: italic;
    padding: 7px 2px 27px 2px;
    line-height: 25px;
}
#about .section-content .f-container .inner-flex{
    display: flex;
    padding: 10px;
}
#about .section-content .f-container .inner-flex .inner-flex-item{
    padding: 4px 0px ;
}
#about .section-content .f-container .inner-flex .inner-flex-item  h2{
    font-size: 18px;
    padding: 12px 0px;
    font-family: 'Roboto', sans-serif;
}
#about .section-content .f-container .inner-flex .inner-flex-item  p{
    font-size: 15px;
    line-height: 20px;
}
#about .section-content .f-container .inner-flex .inner-flex-item i{
    background-color: #fff;
    color: #f43939;
    border-radius: 50%;
    padding: 16px;
    margin: 0px 15px 0px 0px;
    box-shadow: 0px 0px 50px -15px #444444;
    position: relative;
    top: 16px;
}
#about .section-content .f-item .p-btm{
    font-size: 16px;
    line-height: 24px;
    padding: 47px 0px 0px 2px;
    font-weight: 400;
}

/*SKILLS*/
#skills{
    height: 270px;
    background-color: #fff;   
}
#skills .f-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 55px;
}
#skills .f-item{
    flex-basis: 45%;
    margin: 10px 28px;
    text-transform: uppercase;
}
#skills .f-container h1{
    padding-bottom: 10px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}
#skills .f-container p{
    font-size: 12px;
    font-family: 'Poppins', sans-serif; 
}
#skills .f-container h2{
    border-bottom: 10px solid #e2eefd;
    margin-bottom: -10px;
}
#skills .f-container h3{
    border-bottom: 10px solid #f43939;;
}
#skills .f-container .inner-f{
    display: flex;
    justify-content: space-between;
}
#skills .f-container .f2 h3{
    width: 80%;
}
#skills .f-container .f3 h3{
    width: 85%;
}
#skills .f-container .f4 h3{
    width: 75%;
}
#skills .f-container .f5 h3{
    width: 60%;
}
#skills .f-container .f6 h3{
    width: 95%;
}


/*STATISTICS*/
#statistics{
    background-color: #fff;
    height: 285px;        
}
#statistics .f-container{
    display: flex;
}
#statistics .f-item{
    flex-basis: 25%;
    text-align: center;
    padding: 40px 0px;
}
#statistics .f-container i{
    background-color: #f43939;
    width: 30px;
    padding: 11px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    border: 8px solid #fff;
    font-size: 30px;
}
#statistics .f-container .f-item-btm{
    background-color: #fff1f1;
    margin: -31px 15px;
    padding: 30px 0px;
}
#statistics .f-container h1{
    color: #ae7979;
    font-size: 36px;
    padding: 7px 0px;
    font-weight: 500;
}
#statistics .f-container p{
    color: #444444;
    font-size: 14px;
    text-transform: capitalize;
    padding: 5px 0px;
    font-family: 'Roboto', sans-serif;
}



/*CLIENT*/
#client{
    background-color: #fff1f1;
    height: 99px;   
}
#client .f-container{
    display: flex;
}
#client .f-container .f-item{
    padding-top: 30px;
    text-align: center;
}
#client .f-container .f-item img{
    max-width: 45%;
}

/*SERVICES*/
#services{
    background-color: #fff;
    height: 1070px;
}
#services .section-title{
    text-align: center;
    padding: 57px 314px 22px 314px;
}
#services .section-title h4{  
    padding: 7px 0px;
    margin: 10px 211px;
    background: #e7f1fd;
    border-radius: 15px;
    color: #f43939;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}   
#services .section-title h1{
    color: #222222;
    font-size: 32px;
    padding: 10px 0px;
    font-family: 'Roboto', sans-serif;
}
#services .section-title h1 span{
    color: #f43939;
}
#services .section-title p{
    color: #444444;
    font-size: 16px;
    line-height: 23px;
    padding-top: 13px;
}
#services .f-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
#services .f-items{
    width: 347px;
    margin: 15px;
    padding: 85px 0px;
    box-shadow: 0 0 3px -1px;
}
#services .f-items:hover{
    width: 347px;
    margin: 15px;
    padding: 85px 0px;
}
#services h2{
    color: #222222;
    text-transform: capitalize;
    padding: 10px;
    font-size: 24px;
}
#services h5{
    color: #444444;
    padding: 16px 18px 0px 16px;
    font-size: 14px;
    line-height: 22px;
}
#services i{
    background-color: #ffe5e5;
    font-size: 28px;
    padding: 13px;
    margin-bottom: 20px;
    width: 35px;
    border-radius: 5px;
    color: #f43939;
    border: 1px solid  #ffcfd6;
}
#services i:hover{
    background-color: #ffe5e5;
    font-size: 28px;
    padding: 13px;
    margin-bottom: 20px;
    width: 35px;
    border-radius: 5px;
    color: #f43939;
    border: 1px solid  #f43939;
    transition: 500ms;
}
#services .section-content{
    text-align: center;
}


/*TESTIMONIAL*/
#testimonial{
    height: 454px;
    background-image:url(../img/testimonials-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#testimonial .overley{
    content: "";
    background: rgba(244, 57, 57, 0.3);
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
/*PORTFOLIO*/
#portfolio{
    background-color: #fff;
    height: 1497px;    
}
#portfolio .section-title{
    text-align: center;
    padding: 57px 314px 22px 314px;
}
#portfolio .section-title h4{  
    padding: 7px 0px;
    margin: 10px 192px;
    background: #e7f1fd;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    border-radius: 15px;
    color: #f43939;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}   
#portfolio .section-title h1{
    color: #222222;
    font-size: 32px;
    padding: 10px 0px;
    font-family: 'Roboto', sans-serif;
}
#portfolio .section-title h1 span{
    color: #f43939;
}
#portfolio .section-title p{
    color: #444444;
    font-size: 16px;
    line-height: 23px;
    padding-top: 13px;
}

/*TEAM*/
#team{
    background-color: #fff1f1;
    height: 696px;   
}
#team .section-title{
    text-align: center;
    padding: 57px 314px 22px 314px;
}
#team .section-title h4{  
    padding: 7px 0px;
    margin: 10px 211px;
    background: #e7f1fd;
    border-radius: 15px;
    color: #f43939;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}   
#team .section-title h1{
    color: #222222;
    font-size: 32px;
    padding: 10px 0px;
    font-family: 'Roboto', sans-serif;
}
#team .section-title h1 span{
    color: #f43939;
}
#team .section-title p{
    font-size: 16px;
    line-height: 23px;
    padding-top: 13px;
    color: #444444;
}
#team .f-container{
    display: flex;
}
#team .f-items{
    background-color: white;
    height: 350px;
    margin: 13px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px -6px;
}
#team img{
    width: 260px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
   
}
#team .section-content h1{
    color: #222222;
    font-size: 18px;
    padding: 20px 0px 10px 15px;
    font-family: 'Roboto', sans-serif;
}
#team .section-content h2{
    color: #aaaaaa;
    font-size: 13px;
    padding: 0px 0px 15px 15px;
}


/*PRICING*/
#pricing{
    height: 748px;   
}
#pricing .section-title{
    text-align: center;
    padding: 57px 314px 22px 314px;
}
#pricing .section-title h4{  
    padding: 7px 0px;
    margin: 10px 211px;
    background: #e7f1fd;
    border-radius: 15px;
    color: #f43939;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}   
#pricing .section-title h1{
    color: #222222;
    font-size: 32px;
    padding: 10px 0px;
    font-family: 'Roboto', sans-serif;
}
#pricing .section-title h1 span{
    color: #f43939;
}
#pricing .section-title p{
    color: #444444;
    font-size: 16px;
    line-height: 23px;
    padding-top: 13px;
}
#pricing .section-content{
    padding: 10px 0px;
}
#pricing .section-content .f-container{
    display: flex;
    justify-content: space-between;
}
#pricing .section-content .f-item{
    background-color: #fff;
    text-align: center;
    flex-basis: 25%;
    margin: 0px 9px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12)
}
#pricing .section-content .f-item-top h1{
    font-size: 16px;
    
}
#pricing .section-content .f-item-top{  
    color: #777777;
    padding: 17px 0px;
    background-color: #f8f8f8;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#pricing .header{
    background-color: #f43939 !important;
    color: #fff !important;
}
#pricing .section-content .f-item-middle{
    padding: 36px 0px;
    line-height: 40px;   
}
#pricing .section-content .f-item-middle ul{
    list-style-type: none;
    font-size: 14px;
    color: #444444;
}
#pricing .section-content .f-item-middle sup{
    font-size: 20px;

}
#pricing .section-content .f-item-middle .head{
    font-size: 36px;
    color: #f43939;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
#pricing .section-content .f-item-middle span{
    color: #bababa;
    font-size: 16px;
    padding-left: 8px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}
#pricing .section-content .f-item-middle .line-through{
    color: #bababa;
    text-decoration: line-through;
}

#pricing .section-content .f-item-bottom{
    padding: 27px 0px;
    background-color: #f8f8f8;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#pricing .section-content .f-item-bottom a{
    padding: 10px 25px;
    color: #fff;
    background-color: #f43939;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}


/*F.A.Q*/
#faq{
    background-color: #fff1f1;
    height: 685px;
}
#faq .section-title{
    text-align: center;
    padding: 57px 314px 22px 314px;
}
#faq .section-title h4{  
    padding: 7px 0px;
    margin: 10px 211px;
    background: #e7f1fd;
    border-radius: 15px;
    color: #f43939;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}   
#faq .section-title h1{
    color: #222222;
    font-size: 32px;
    padding: 17px 0px 22px 0px;
    font-family: 'Roboto', sans-serif;
}
#faq .section-title h1 span{
    color: #f43939;
}
#faq .section-title p{
    color: #444444;
    font-size: 16px;
    line-height: 23px;
}
#faq ul{
    font-size: 18px;
    line-height: 45px;
    list-style-type: none;
}
#faq i{
    padding-right: 15px;
}

/*CONTACT*/
#contact{
    background-color: #fff;
    height: 921px;
}
#contact .section-title{
    text-align: center;
    padding: 57px 314px 22px 314px;
}
#contact .section-title h4{  
    padding: 7px 0px;
    margin: 10px 211px;
    background: #e7f1fd;
    border-radius: 15px;
    color: #f43939;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}   
#contact .section-title h1{
    color: #f43939;
    font-size: 32px;
    padding: 10px 0px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
#contact .section-title p{
    color: #444444;
    font-size: 16px;
    line-height: 23px;
    padding-top: 13px;
}
#contact .section-content .f-container-1{
    display: flex;
}
#contact .section-content .f-container-1 .f-item{
    flex-basis: 50%;
    box-shadow: 0px 0px 31px -18px #444444;
    text-align: center;
    line-height: 33px;
    padding: 20px 0px;
    margin: 10px;
    background-color: #fff;
}
#contact .section-content .f-container-1 .size-a{
    flex-basis: 25%;
}
#contact .section-content h1{
    font-size: 20px;
    color: #777777;
    padding: 9px 0px 2px 0px;
    font-family: "Roboto", sans-serif;
}
#contact .section-content p{
    font-size: 14px;
    color: #444444;
}
#contact .section-content .f-container-1 .f-item i{
    color: #f43939;;
    border: 2px dotted #f43939;
    border-radius: 50%;
    text-align: center;
    width: 24px;
    padding: 11px;
    font-size: 24px;
}
#contact .section-content .f-container-2{
    display: flex;
    height: 430px;
}
#contact .section-content .f-container-2 .f-item{
    flex-basis: 47.5%;
    box-shadow: 0px 0px 31px -18px #444444;
    background-color: #fff;
    margin: 10px;
}
#contact .section-content .f-container-2 .size-a{
    flex-basis: 49%;
    background-color: #fff;
    box-shadow: 0px 0px 31px -18px #444444;
    margin: 10px;
}
#contact .section-content .f-container-2 .f-item iframe{
    height: 100%;
    width: 100%;
}
#contact .section-content .f-container-2 .f-item .name-mail{
    display: flex;
    padding-top: 10px;
}
#contact .section-content .f-container-2 .f-item input{
    border-color: #ffcfd6;
    color: black;
    width: 93%;
    padding: 12px 0px;
    margin: 10px 17px;
    opacity: 40%;
}
#contact .section-content .f-container-2 .f-item textarea{
    color: black;
    width: 93%;
    margin: 10px 17px 28px 17px;
    padding: 74px 2px;
    opacity: 40%;   
}
#contact .section-content .f-container-2 .f-item textarea::placeholder{
    position: relative;
    bottom: 60px;
}
#contact .section-content .f-container-2 .f-item a{
    text-decoration: none;
    background-color: #f43939;
    color: #fff;
    padding: 10px 21px;
    margin: 0px 200px;
    font-size: 17px;
    border-radius: 5px;
}
#contact .section-content .f-container-2 .f-item ::placeholder{
    padding-left: 8px;
    opacity: 70%;
    font-size: 15px;
}



/*NEWS LETTER*/
#news-letter{
    background-color: #fff1f1;
    height: 246px;    
}
#news-letter .section-nl{
    text-align: center;
    padding: 42px 0px;
    line-height: 50px;
}
#news-letter h1{
    font-size: 24px;
    color: #444444;
    font-family: "Roboto", sans-serif;
}
#news-letter h2{
    font-size: 15px;
    color: #777777;
}
#news-letter form{
    font-size: 20px;
    border-radius: 10px;
}
#news-letter input{
    border: 0px;
    padding: 13px 160px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    top: 2.3px;
    
}
#news-letter a{
    font-size: 16px;
    text-decoration: none;
    color: blanchedalmond;
    background-color: #f43939;
    padding: 7px 21px 13px 21px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*FOOTER*/
#footer{
    background-color: #fff;
}
#footer .f-container{
    display: flex;
    padding: 64px 0px;
}
#footer .f-container .f-item{
    flex-basis: 25%;
}
#footer .f-container .f-item ul{
    list-style-type: none;
}
#footer .size-a ul li{
    font-size: 14px;
    line-height: 23px;
    color: #777777;
}
#footer .size-a ul li b{
    color: #777777;
}
#footer .size-b ul li{
    font-size: 14px;
    color: #777777;
    line-height: 38px;
    text-transform: capitalize;
}
#footer h1{
    font-size: 24px;
    color: #444444;
    padding-bottom: 9px;
    font-family: "Roboto", sans-serif;
}
#footer h1 span{
    color: #f43939;
    font-size: 24px;
    padding-bottom: 9px;
    font-family: "Roboto", sans-serif;
}
#footer h2{
    font-size: 16px;
    padding-bottom: 8px;
    text-transform: capitalize;
    color: #444444;
}
#footer p{
    padding: 9px 0px 29px 0px;
    line-height: 25px;
    font-size: 14px;
    color: #777777;
    font-family: "Roboto", sans-serif;
}
#footer .size-b i{
    padding-right: 6px;
    font-size: 10px;
}
#footer .social-links i{
    border-radius: 5px;
    background-color: #f43939;
    color: #fff;
    text-align: center;
    width: 15px;
    padding: 10px;
}

/*LEGAL*/
#legal{ 
    background-color: #fff1f1;  
}
#legal .f-container{
    display: flex;
    justify-content: space-between  ;
}
#legal .f-item{
    padding: 35px 0px;
    color: #444444;
}
#legal .f-item a{
    color: #f43939;
    text-decoration: none;
}
#legal .size-a{
    font-size: 14px;
}
#legal .size-b{
    font-size: 13px;
}
