body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 80%;
    margin:0 auto;
}
h1{
    font-size: 20px;
}

/*QUICK LINKS*/
#quick-links{
    background-color: #f43939;
    color: #fff;
    height: 41.5px;  
}
#quick-links .f-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#quick-links .f-item{
    padding: 10px 0px;
}
#quick-links .size-a{
    display: flex;
}
#quick-links .size-a i{
    color: #fff;
    padding: 0px 5px;
    font-size: 14px;
}
#quick-links .size-b i{
    color: #fff;
    padding: 0px 9px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6)
}
#quick-links .size-b i:hover{
    color: #fff;
    padding: 0px 9px;
    font-size: 14px;
    transition: 800ms;
}
#quick-links .f-item a{
    padding: 0px 9px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
}



/*HEADER*/
#header{
    background-color: #fff; 
    font-family: 'Poppins', sans-serif;
}
#header .f-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    
}
#header .f-item{
    padding: 28px 0px;
    color: #222222;
}
#header .section-left{
    display: flex;
}
#header .f-item h1{
    padding-right: 10px;
    font-size: 34px;
}
#header .f-item h1 span{
    color: #f43939;
}
#header .f-item .nav-bar{
    display: flex;
    flex-wrap: wrap;
}
#header .f-item .nav-bar .nav-item{
    padding: 0px 15px;
    font-size: 17px;  
}
#header .f-item .nav-bar .nav-item:hover{
    font-size: 17px;
    color: #f43939;  
    transition: 500ms; 
}
#header .f-item .nav-bar .nav-item a{
    text-decoration: none;
    display: block;
    color: #222222;
}
#header #toggle-open ,#toggle-close{
    font-size: 22px;
    display: none;
}




/*WELCOME*/
#welcome{
    background-image: url(../img/hero-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;          
}
#welcome .container{
    display: flex;
    flex-direction: column;
}
#welcome .overley{
    content: "";
    background: rgba(244, 57, 57, 0.3);
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}
#welcome .welcome{
    padding: 117px 0px;
}
#welcome .welcome h1{
    font-size: 48px;
    padding: 15px 0px;
    font-family: 'Poppins', sans-serif;
}
#welcome .welcome h1 span{
    color: #f43939;
}
#welcome .welcome h2{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 18px;
    line-height: 30px;
}
#welcome .welcome .btm{
    display: flex;  
    align-items: center;
}
#welcome .welcome .primary-btn{   
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f43939;
    color: white;
    border-radius: 7px;
    padding: 14px 45px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
#welcome .welcome .secondary-btn{
    display: flex;
    align-items: center;
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
    padding: 10px 25px;
    text-decoration: none;
    color: #222222;
    
}
#welcome .welcome .secondary-btn i{
    color: #f43939;
    font-size: 30px;
    padding-right: 6px;
}


/*HIGHLITS*/
#highlights{
    background-color: #fff;
}
#highlights .container{
    padding: 63px 0px;  
}
#highlights .f-container{
    display: flex;
    justify-content: space-between;  
    flex-wrap: wrap;   
}
#highlights .f-item{
    width: 16%; 
    background-color: #fff;
    color: #222222;
    height: 206px;
    margin: 12px;
    line-height: 65px;
    padding: 25px 30px;
    border-radius: 8px;
    border: 2px solid #f43939;
    box-shadow: 0 0 9px -5px;
}

#highlights .f-item:hover{
    background-color: #f43939;
    color: #fff;
    height: 206px;
    line-height: 65px;
    padding: 25px 30px;
    border-radius: 8px;
    border: 2px solid #fff;
    box-shadow: 0 0 9px -5px;
}
#highlights h1{
    font-family: 'Roboto', sans-serif;
}
#highlights p{
    font-size: 15px;
    line-height: 23px;
}
#highlights .f-item i{
    font-size: 44px;
}
/*ABOUT*/
#about {
    background-color: #fff1f1;  
}  
#about .section-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    
}
#about .section-title h4{  
    margin: 0 auto;
    padding: 7px 14px;
    background: #e7f1fd;
    border-radius: 15px;
    color: #f43939;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}   
#about .section-title h1{
    font-size: 32px;
    padding: 25px 0px 10px;
    color: #222222;
    font-family: 'Roboto', sans-serif;  
}
#about .section-title p{
    margin: 0 auto;
    width: 45%;
    font-size: 16px;
    line-height: 23px;
    padding: 12px 0px 30px;
    color: #444444;
}
#about .section-title h1 span{
    color: #f43939;
}
#about .section-content .f-container{
    display: flex;  
    padding-bottom: 30px;
}
#about .section-content .f-item{
    flex-basis: 50%;
    margin: 10px;
    padding: 5px;
    color: #444444;
}
#about .section-content img{
    max-width: 100%;
    height: auto; 
}
#about .section-content .f-item h1{
    font-size: 26px;
    padding: 0px 2px 4px;
    line-height: 33px;
    font-family: 'Roboto', sans-serif;
}
#about .section-content .f-item .italic{
    font-size: 16px;
    font-style: italic;
    padding: 7px 2px 27px 2px;
    line-height: 25px;
}
#about .section-content .f-container .inner-flex{
    display: flex;
    padding: 10px;
}
#about .section-content .f-container .inner-flex .inner-flex-item{
    padding: 4px 0px ;
}
#about .section-content .f-container .inner-flex .inner-flex-item  h2{
    font-size: 18px;
    padding: 12px 0px;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
}
#about .section-content .f-container .inner-flex .inner-flex-item  p{
    font-size: 15px;
    line-height: 20px;
}
#about .section-content .f-container .inner-flex .inner-flex-item i{
    background-color: #fff;
    color: #f43939;
    border-radius: 50%;
    padding: 16px;
    margin: 0px 15px 0px 0px;
    box-shadow: 0px 0px 50px -15px #444444;
    position: relative;
    top: 16px;
}
#about .section-content .f-item .p-btm{
    font-size: 16px;
    line-height: 24px;
    padding: 47px 0px 0px 2px;
    font-weight: 400;
}

/*SKILLS*/
#skills{
    background-color: #fff;   
}
#skills .f-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 55px;
}
#skills .f-item{
    flex-basis: 45%;
    margin: 10px 28px;
    text-transform: uppercase;
}
#skills .f-container h1{
    padding-bottom: 10px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}
#skills .f-container p{
    font-size: 12px;
    font-family: 'Poppins', sans-serif; 
}
#skills .f-container h2{
    border-bottom: 10px solid #e2eefd;
    margin-bottom: -10px;
}
#skills .f-container h3{
    border-bottom: 10px solid #f43939;;
}
#skills .f-container .inner-f{
    display: flex;
    justify-content: space-between;
}
#skills .f-container .f2 h3{
    width: 80%;
}
#skills .f-container .f3 h3{
    width: 85%;
}
#skills .f-container .f4 h3{
    width: 75%;
}
#skills .f-container .f5 h3{
    width: 60%;
}
#skills .f-container .f6 h3{
    width: 95%;
}


/*STATISTICS*/
#statistics {
    background-color: #fff;        
}
#statistics .f-container{
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0px 80px;
}
#statistics .f-item{
    flex-basis: 25%;
    text-align: center;
    padding: 40px 0px;
}
#statistics .f-container i{
    background-color: #f43939;
    width: 30px;
    padding: 11px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    border: 8px solid #fff;
    font-size: 30px;
}
#statistics .f-container .f-item-btm{
    background-color: #fff1f1;
    margin: -31px 15px;
    padding: 30px 0px;
}
#statistics .f-container h1{
    color: #ae7979;
    font-size: 36px;
    padding: 7px 0px;
    font-weight: 500;
}
#statistics .f-container p{
    color: #444444;
    font-size: 14px;
    text-transform: capitalize;
    padding: 5px 0px;
    font-family: 'Roboto', sans-serif;
}



/*CLIENT*/
#client{
    background-color: #fff1f1;  
}
#client .f-container{
    display: flex;
    flex-wrap: wrap;
}
#client .f-container .f-item{
    padding: 25px 0px 13px;
    text-align: center;
    flex-basis: 16.6%;
}
#client .f-container .f-item img{
    max-width: 45%;
}

/*SERVICES*/
#services {
    background-color: #fff;
}
#services .section-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
    
}
#services .section-title h4{  
    margin: 0 auto;
    padding: 7px 14px;
    background: #e7f1fd;
    border-radius: 15px;
    color: #f43939;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}   
#services .section-title h1{
    font-size: 32px;
    padding: 25px 0px 10px;
    color: #222222;
    font-family: 'Roboto', sans-serif;  
}
#services .section-title h1 span{
    color: #f43939;
}
#services .section-title p{
    margin: 0 auto;
    width: 45%;
    font-size: 16px;
    line-height: 23px;
    padding: 12px 0px 30px;
    color: #444444;
}

#services .f-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
#services .f-items{
    width: 347px;
    flex-basis: 30%;
    margin: 15px;
    padding: 85px 0px;
    box-shadow: 0 0 3px -1px;
}
#services .f-items:hover{
    width: 347px;
    margin: 15px;
    padding: 85px 0px;
}
#services h2{
    color: #222222;
    text-transform: capitalize;
    padding: 10px;
    font-size: 24px;
}
#services h5{
    color: #444444;
    padding: 16px 18px 0px 16px;
    font-size: 14px;
    line-height: 22px;
}
#services i{
    background-color: #ffe5e5;
    font-size: 28px;
    padding: 13px;
    margin-bottom: 20px;
    width: 35px;
    border-radius: 5px;
    color: #f43939;
    border: 1px solid  #ffcfd6;
}
#services i:hover{
    background-color: #ffe5e5;
    font-size: 28px;
    padding: 13px;
    margin-bottom: 20px;
    width: 35px;
    border-radius: 5px;
    color: #f43939;
    border: 1px solid  #f43939;
    transition: 500ms;
}
#services .section-content{
    text-align: center;
    padding: 10px 0px 60px
}


/*TESTIMONIAL*/
#testimonial {
    background-image:url(../img/testimonials-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#testimonial .overley{
    content: "";
    background: rgba(244, 57, 57, 0.3);
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
/*PORTFOLIO*/
#portfolio {
    background-color: #fff;  
}
#portfolio .section-title{
    text-align: center;
    padding: 57px 314px 22px 314px;
}
#portfolio .section-title h4{  
    padding: 7px 0px;
    margin: 10px 192px;
    background: #e7f1fd;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    border-radius: 15px;
    color: #f43939;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}   
#portfolio .section-title h1{
    color: #222222;
    font-size: 32px;
    padding: 10px 0px;
    font-family: 'Roboto', sans-serif;
}
#portfolio .section-title h1 span{
    color: #f43939;
}
#portfolio .section-title p{
    color: #444444;
    font-size: 16px;
    line-height: 23px;
    padding-top: 13px;
}

/*TEAM*/
#team {
    background-color: #fff1f1;  
    padding: 0px 0px 25px;
}
#team .section-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    
}
#team .section-title h4{  
    margin: 0 auto;
    padding: 7px 14px;
    background: #e7f1fd;
    border-radius: 15px;
    color: #f43939;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}   
#team .section-title h1{
    font-size: 32px;
    padding: 25px 0px 10px;
    color: #222222;
    font-family: 'Roboto', sans-serif;  
}
#team .section-title h1 span{
    color: #f43939;
}
#team .section-title p{
    margin: 0 auto;
    width: 45%;
    font-size: 16px;
    line-height: 23px;
    padding: 12px 0px 30px;
    color: #444444;
}

#team .f-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#team .f-items{
    background-color: white;
    flex-basis: 22%;
    margin: 13px;
    border-radius: 3px;
    box-shadow: 0px 0px 12px -6px;
}
#team img{
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
   
}
#team .section-content h1{
    color: #222222;
    font-size: 18px;
    padding: 20px 0px 10px 15px;
    font-family: 'Roboto', sans-serif;
}
#team .section-content h2{
    color: #aaaaaa;
    font-size: 13px;
    padding: 0px 0px 15px 15px;
}


/*PRICING*/
#pricing {
    background-color: #fff  
}
#pricing .section-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
    
}
#pricing .section-title h4{  
    margin: 0 auto;
    padding: 7px 14px;
    background: #e7f1fd;
    border-radius: 15px;
    color: #f43939;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}   
#pricing .section-title h1{
    font-size: 32px;
    padding: 25px 0px 10px;
    color: #222222;
    font-family: 'Roboto', sans-serif;  
}
#pricing .section-title h1 span{
    color: #f43939;
}
#pricing .section-title p{
    margin: 0 auto;
    width: 45%;
    font-size: 16px;
    line-height: 23px;
    padding: 12px 0px 30px;
    color: #444444;
}
#pricing .section-content{
    padding: 10px 0px;
}
#pricing .section-content .f-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#pricing .section-content .f-item{
    background-color: #fff;
    text-align: center;
    flex-basis: 23%;
    margin: 18px 9px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12)
}
#pricing .section-content .f-item-top h1{
    font-size: 16px;
    
}
#pricing .section-content .f-item-top{  
    color: #777777;
    padding: 17px 0px;
    background-color: #f8f8f8;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#pricing .header{
    background-color: #f43939 !important;
    color: #fff !important;
}
#pricing .section-content .f-item-middle{
    padding: 36px 0px;
    line-height: 40px;   
}
#pricing .section-content .f-item-middle ul{
    list-style-type: none;
    font-size: 14px;
    color: #444444;
}
#pricing .section-content .f-item-middle sup{
    font-size: 20px;

}
#pricing .section-content .f-item-middle .head{
    font-size: 36px;
    color: #f43939;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
#pricing .section-content .f-item-middle span{
    color: #bababa;
    font-size: 16px;
    padding-left: 8px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}
#pricing .section-content .f-item-middle .line-through{
    color: #bababa;
    text-decoration: line-through;
}

#pricing .section-content .f-item-bottom{
    padding: 27px 0px;
    background-color: #f8f8f8;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#pricing .section-content .f-item-bottom a{
    padding: 10px 25px;
    color: #fff;
    background-color: #f43939;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}


/*F.A.Q*/
#faq {
    background-color: #fff1f1;
}
#faq .section-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
    
}
#faq .section-title h4{  
    margin: 0 auto;
    padding: 7px 14px;
    background: #e7f1fd;
    border-radius: 15px;
    color: #f43939;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}   
#faq .section-title h1{
    font-size: 32px;
    padding: 25px 0px 10px;
    color: #222222;
    font-family: 'Roboto', sans-serif; 
    line-height: 40px; 
}
#faq .section-title h1 span{
    color: #f43939;
}
#faq .section-title p{
    margin: 0 auto;
    width: 45%;
    font-size: 16px;
    line-height: 23px;
    padding: 12px 0px 30px;
    color: #444444;
}

#faq ul{
    font-size: 18px;
    list-style-type: none;
    padding-bottom: 60px;
}
#faq ul li{
    display: flex;
}
#faq ul p, #faq ul i{
    padding-bottom: 20px;
    line-height: 30px;
}
#faq i{
    padding-right: 15px;
}

/*CONTACT*/
#contact{
    background-color: #fff;
}
#contact .section-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
    
}
#contact .section-title h4{  
    margin: 0 auto;
    padding: 7px 14px;
    background: #e7f1fd;
    border-radius: 15px;
    color: #f43939;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}   
#contact .section-title h1{
    font-size: 32px;
    padding: 25px 0px 10px;
    color: #222222;
    font-family: 'Roboto', sans-serif; 
    line-height: 40px; 
    text-transform: capitalize;
}
#contact .section-title h1 span{
    color: #f43939;
}
#contact .section-title p{
    margin: 0 auto;
    width: 45%;
    font-size: 16px;
    line-height: 23px;
    padding: 12px 0px 30px;
    color: #444444;
}
#contact .section-content .f-container-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#contact .section-content .f-container-1 .f-item{
    flex-basis: 47.5%;
    box-shadow: 0px 0px 31px -18px #444444;
    text-align: center;
    line-height: 33px;
    padding: 20px 0px;
    margin: 10px;
    background-color: #fff;
}
#contact .section-content .f-container-1 .size-a{
    flex-basis: 23%;
}
#contact .section-content h1{
    font-size: 20px;
    color: #777777;
    padding: 9px 0px 2px 0px;
    font-family: "Roboto", sans-serif;
}
#contact .section-content p{
    font-size: 14px;
    color: #444444;
}
#contact .section-content .f-container-1 .f-item i{
    color: #f43939;;
    border: 2px dotted #f43939;
    border-radius: 50%;
    text-align: center;
    width: 24px;
    padding: 11px;
    font-size: 24px;
}
#contact .section-content .f-container-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px;
}
#contact .section-content .f-container-2 .f-item{
    background-color: #fff;
    flex-basis: 47%;
    margin: 10px 15px;
    box-shadow: 0px 0px 31px -18px #444444;
}
#contact .section-content .f-container-2 .f-item iframe{
    height: 450px;
    width: 100%;
}
#contact .section-content .f-container-2 .f-item form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0px auto;
    padding-top: 30px;
}
#contact .section-content .f-container-2 .f-item input{
    border: 1px solid #7777774d;
    width: 45%;
    padding: 13px 6px;
    margin-bottom: 20px;
    outline-color: #f439398f;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}
#contact #sub{
    width: 97%;
}
#contact .section-content .f-container-2 .f-item textarea{
    border: 1px solid #7777774d;
    padding: 6px 6px 100px;
    outline-color: #f439398f;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}
#contact .section-content .f-container-2 .f-item .name-mail{
    display: flex;
    justify-content: space-between;
}
#contact .section-content .f-container-2 .f-item .others{
    display: flex;
    flex-direction: column;
}
#contact .section-content .f-container-2 .f-item ::placeholder{
    color: #7777779a;
    padding-left: 4px;
}
#contact .section-content .f-container-2 .f-item a{
    text-align: center;
    padding: 12px 18px;
    border-radius: 6px;
    background-color: #f43939;
    width: 35%;
    margin: 40px auto;
    text-decoration: none;
    color: #fff;
}

/*NEWS LETTER*/
#news-letter{
    background-color: #fff1f1;   
}
#news-letter .section-nl{
    text-align: center;
    padding: 42px 0px;
    line-height: 50px;
}
#news-letter h1{
    font-size: 24px;
    color: #444444;
    font-family: "Roboto", sans-serif;
}
#news-letter .section-title p{
    margin: 0 auto;
    width: 50%;
    font-size: 16px;
    line-height: 23px;
    padding: 12px 0px 30px;
    color: #444444;
}
#news-letter form{
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
#news-letter input{
    width: 70%;
    outline-color: #f439398f;
    border: none;
    padding-left: 10px;
    font-size: 22px;
}
#news-letter a{
    width: 30%;
    font-size: 16px;
    text-decoration: none;
    color: blanchedalmond;
    background-color: #f43939;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*FOOTER*/
#footer{
    background-color: #fff;
}
#footer .f-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 64px;
}
#footer .f-container .f-item{
    flex-basis: 25%;
    padding-bottom: 60px ;
}
#footer .f-container .f-item ul{
    list-style-type: none;
}
#footer .size-a ul li{
    font-size: 14px;
    line-height: 23px;
    color: #777777;
}
#footer .size-a ul li b{
    color: #777777;
}
#footer .size-b ul li{
    font-size: 14px;
    color: #777777;
    line-height: 38px;
    text-transform: capitalize;
}
#footer h1{
    font-size: 24px;
    color: #444444;
    padding-bottom: 9px;
    font-family: "Roboto", sans-serif;
}
#footer h1 span{
    color: #f43939;
    font-size: 24px;
    padding-bottom: 9px;
    font-family: "Roboto", sans-serif;
}
#footer h2{
    font-size: 16px;
    padding-bottom: 8px;
    text-transform: capitalize;
    color: #444444;
}
#footer p{
    padding: 9px 0px 29px 0px;
    line-height: 25px;
    font-size: 14px;
    color: #777777;
    font-family: "Roboto", sans-serif;
}
#footer .size-b i{
    padding-right: 6px;
    font-size: 10px;
}
#footer .social-links i{
    border-radius: 5px;
    background-color: #f43939;
    color: #fff;
    text-align: center;
    width: 15px;
    padding: 10px;
}
 
/*LEGAL*/
#legal{ 
    background-color: #fff1f1;  
}
#legal .f-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 35px 0px;
    text-align: center;
}
#legal .f-item{ 
    color: #444444;
    flex-basis: 50%;
    padding: 6px 0px;
}
#legal .f-item a{
    color: #f43939;
    text-decoration: none;
}
#legal .size-a{
    font-size: 14px;
}
#legal .size-b{
    font-size: 13px;
}

@media (min-width: 320px) and (max-width: 767px){

    .container{
        width: 90%;
        margin: 0px auto;
    }

    /*QUICK LINKS*/

    #quick-links{
        display: none;
    }

    /*HEADER*/
    #header .section-left h1{
        font-size: 28px;
    }
    #header .section-right .nav-bar{
        display: none;
        justify-content: center;
        padding-top: 20px;
        line-height: 35px;
        float: right;
    }
    #header .f-container{
        text-align: center;
        flex-direction: column;
        /* justify-content: center; */
    }
    #header #toggle-open{
        display: block;
    }


   /* Welcome */

    #welcome .welcome h1{
        font-size: 28px;
        font-weight: 800px;
    }
    #welcome .welcome h2{
        font-size: 18px;
        color: #222222; 
    }
    #welcome .welcome .primary-btn{
        padding: 10px 28px;
        font-size: 14px;
        line-height: 22px;
    }
    #welcome .welcome .secondary-btn{
        font-size: 16px;
        line-height: 22px;
    }

    /* Highlights */

    #highlights .f-item{
        width: 100%; 
    }

    /* ABOUT */

    #about .section-content .f-container{
        display: flex;  
        flex-wrap: wrap;
        align-items: center;
    }
    #about .section-content .f-item{
        flex-basis: unset;
    }
    #about .section-title p {
        width: unset;
    }
    #about .section-title h1{
        line-height: 40px;
    }
    #skills .f-item{
        flex-basis: 100%;
    }
    #statistics .f-item{
        flex-basis: 100%;
    }
    #client .f-container .f-item{
        flex-basis: 50%;
    }
    #services .f-items{
        flex-basis: 100%;
    }
    #services .section-title p{
        width: 100%;
    }
    #team .f-items{
        flex-basis: 100%;
    }
    #team .section-title p{
        width: 100%;
    }
    #team .container{
        width: 75%;
        margin: 0 auto;
    }
    #pricing .section-content .f-item{
        flex-basis: 100%;
    }
    #pricing .section-title p{
        width: 100%;
    }
    #pricing .container{
        width: 70%;
        margin: 0 auto;
    }
    #faq .section-title p{
        width: 100%;
    }  
    #contact .section-content .f-container-1 .f-item{
        flex-basis: 100%;
    }
    #contact .section-content .f-container-1 .size-a{
        flex-basis: 100%;
    }
    #contact .section-content .f-container-2 .f-item{
        flex-basis: 100%;
    }
    #contact .section-title p{
        width: 100%;
    }
    #news-letter form {
        width: 100%;
    }
    #news-letter .section-title p{
        width: 100%;
    }
    #footer .f-container .f-item{
        flex-basis: 100%;
    }
    #legal .f-item{
        flex-basis: 100%;
    }
}


@media (min-width:768px) and (max-width:991px) {

    #header .section-left h1{
        font-size: 28px;
    }

    #header .section-right .nav-bar{
        display: none;
    }

    #highlights .f-item{
        width: 35%; 
    }   

    /* ABOUT */

    #about .section-content .f-container{
        display: flex;  
        flex-wrap: wrap;
        align-items: center;
    }
    #about .section-content .f-item{
        flex-basis: unset;
    }
    #about .section-title p {
        width: unset;
    }
    #about .section-title h1{
        line-height: 40px;
    }
    #skills .f-item{
        flex-basis: 100%;
    }
    #statistics .f-item{
        flex-basis: 100%;
    }
    #client .f-container .f-item{
        flex-basis: 33.3%;
    }
    #services .section-title p{
        width: 100%;
    }
    #services .f-items{
        flex-basis: 43%;
    }
    #team .f-items{
        flex-basis: 45%;
    }
    #team .section-title p{
        width: 100%;
    }
    
    #pricing .section-content .f-item{
        flex-basis: 42%;
    }
    #pricing .section-title p{
        width: 100%;
    }
    #faq .section-title p{
        width: 100%;
    }
    #contact .section-content .f-container-1 .f-item{
        flex-basis: 100%;
    }
    #contact .section-content .f-container-1 .size-a{
        flex-basis: 46%;
    }
    #contact .section-content .f-container-2 .f-item{
        flex-basis: 100%;
    }
    #contact .section-title p{
        width: 100%;
    }
    #news-letter form {
        width: 100%;
    }
    #news-letter .section-title p{
        width: 50%;
    }
    #footer .f-container .f-item{
        flex-basis: 50%;
    }
    
    
}
@media (min-width:992px) and (max-width:1199px){

    #header .section-left h1{
        font-size: 28px;
    }

    #header .section-right .nav-bar{
        display: none;
    }
    #highlights .f-item{
        width: 38%; 
    }  
    
    /* ABOUT */

    #about .section-content .f-container{
        display: flex;  
        flex-wrap: wrap;
        align-items: center;
    }
    #about .section-content .f-item{
        flex-basis: unset;
    }
    #about .section-title p {
        width: unset;
    }
    #about .section-title h1{
        line-height: 40px;
    }
    #skills .f-item{
        flex-basis: 100%;
    }
    #statistics .f-item{
        flex-basis: 50%;
    }
    #services .f-items{
        flex-basis: 43%;
    }
    #services .section-title p{
        width: 100%;
    }
    #team .f-items{
        flex-basis: 45%;
    }
    #team .section-title p{
        width: 100%;
    }
    #pricing .section-content .f-item{
        flex-basis: 42%;
    }
    #pricing .section-title p{
        width: 100%;
    }
    #faq .section-title p{
        width: 100%;
    }
    #contact .section-content .f-container-1 .f-item{
        flex-basis: 100%;
    }
    #contact .section-content .f-container-1 .size-a{
        flex-basis: 47%;
    }
    #contact .section-content .f-container-2 .f-item{
        flex-basis: 100%;
    }
    #contact .section-title p{
        width: 100%;
    }
    #news-letter form{
        width: 100%;
    }
    #news-letter .section-title p{
        width: 100%;
    }
    #footer .f-container .f-item{
        flex-basis: 50%;
    }

}
@media (min-width:1200px) {
    
    #highlights .f-item{
        width: 15%; 
    }   
    #about .container{
        width: 1153px;
        margin: 0px auto;
    }
    #skills .container{
        width: 1153px;
        margin: 0px auto;
    }
    #statistics .f-item{
        flex-basis: 25%;
    }
    #team .container{
        width: 1153px;
        margin: 0px auto;
    }
    #contact .container{
        width: 1153px;
        margin: 0px auto;
    }
    #news-letter .section-title p{
        width: 100%;
    }
    #header .f-item #toggle{
       display: none;
    }
    #header #toggle{
        display: none;
    }

}
/* @media (min-width:1400px){}
and (max-width:1399px) */